# 데이터 가공 및 변환

In [58]:
import numpy as np
import pandas as pd

movies = pd.read_csv('movies_metadata.csv')
ratings = pd.read_csv('ratings.csv')
print(movies.shape)
print(ratings.shape)

(45466, 24)
(100004, 4)

C:\Users\gunso\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3156: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
movies_df = movies[['id', 'original_title', 'genres']]
movies_df = movies_df.rename(columns = {'id':'movieId', 'original_title':'title'})
movies_df.head()

,movieId,title,genres
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]"

In [60]:
from ast import literal_eval

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['genres'] = movies_df['genres'].apply(lambda x: [y['name'] for y in x])
movies_df.head()

  movieId                        title                        genres
0     862                    Toy Story   [Animation, Comedy, Family]
1    8844                      Jumanji  [Adventure, Fantasy, Family]
2   15602             Grumpier Old Men             [Romance, Comedy]
3   31357            Waiting to Exhale      [Comedy, Drama, Romance]
4   11862  Father of the Bride Part II                      [Comedy]

In [61]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [62]:
ratings = ratings.drop('timestamp', axis=1)
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [63]:
# 사용자 row, 영화 column으로 구성된 사용자-영화 평점 데이터
ratings_matrix = ratings.pivot_table('rating', index = 'userId', columns = 'movieId')
ratings_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#movies_df['movieId'] = pd.to_numeric(movies_df['movieId'], errors = 'coerce')
#movies_df.dropna(inplace = True)

movies_df['movieId'] = movies_df['movieId'].astype('str')
ratings['movieId'] = ratings['movieId'].astype('str')

In [65]:
ratings_movies = pd.merge(ratings, movies_df, how='left', on='movieId')

ratings_matrix = ratings_movies.pivot_table('rating', index = 'userId', columns = 'title')
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head()

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...Più forte ragazzi!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,...,사마리아,야수,연가시,오직 그대만,올드보이,"장화, 홍련",최종병기 활,친절한 금자씨,해안선,활
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
ratings_movies.head()

   userId movieId  rating title genres
0       1      31     2.5   NaN    NaN
1       1    1029     3.0   NaN    NaN
2       1    1061     3.0   NaN    NaN
3       1    1129     2.0   NaN    NaN
4       1    1172     4.0   NaN    NaN

- ratings_matrix = 사용자별 영화 평점 matrix
- ratings_movies = userId, movieId, title, rating, genres

# 영화 간 유사도 산출

- cosine similarity() 이용
- cosine_similarity() 함수는 행 간의 유사도를 비교함 → transpose

In [67]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Gator Bait,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Twas the Night Before Christmas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...Più forte ragazzi!,0.0,0.0,4.5,0.0,4.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
00 Schneider - Jagd auf Nihil Baxter,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# 반환된 numpy 행렬을 영화명을 매핑해 dataframe 형태로 변환
item_sim_df = pd.DataFrame(item_sim, index = ratings_matrix.columns, columns = ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(2798, 2798)

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...Più forte ragazzi!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,...,사마리아,야수,연가시,오직 그대만,올드보이,"장화, 홍련",최종병기 활,친절한 금자씨,해안선,활
title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,1.000000,0.0,0.513704,0.057233,0.0,0.00000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.400163,0.0,0.0,0.0
'Gator Bait,0.000000,1.0,0.000000,0.032979,0.0,0.20739,0.0,0.0,0.0,0.096225,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
'Twas the Night Before Christmas,0.513704,0.0,1.000000,0.049172,0.0,0.00000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [70]:
item_sim_df['Rocky III'].sort_values(ascending=False)[:10]

title
Rocky III                  1.000000
Rocky V                    0.642748
Rocky IV                   0.556627
The Discovery of Heaven    0.554050
Sweet Sixteen              0.552371
Blood Diamond              0.466559
Two Weeks Notice           0.415239
American Pie               0.372546
Jurassic Park              0.371153
Heathers                   0.370205
Name: Rocky III, dtype: float64

# 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천

- 사용자가 아직 관람하지 않은 영화 추천
- 아직 관람하지 않은 영화에 대해서 아이템 유사도와 기존에 관람한 영화의 평점 데이터를 기반으로 해 새롭게 모든 영화의 예측 평점을 계산한 후 높은 예측 평점을 가진 영화를 추천하는 방식

In [71]:
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [72]:
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(ratings_pred, index=ratings_matrix.index, columns = item_sim_df.columns)
ratings_pred_matrix.head()

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...Più forte ragazzi!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,...,사마리아,야수,연가시,오직 그대만,올드보이,"장화, 홍련",최종병기 활,친절한 금자씨,해안선,활
userId,,,,,,,,,,,,,,,,,,,,,
1,0.009555,0.013199,0.012193,0.010519,0.003635,0.004878,0.009129,0.006090,0.000000,0.010765,...,0.006264,0.011635,0.025084,0.000000,0.004207,0.006703,0.005582,0.000000,0.009202,0.005289
2,0.062804,0.077337,0.065753,0.166957,0.041186,0.071127,0.166312,0.100856,0.059188,0.161019,...,0.100808,0.068553,0.093538,0.102297,0.097260,0.042169,0.072870,0.000000,0.126965,0.090960
3,0.052388,0.047802,0.060778,0.106995,0.019277,0.035263,0.088779,0.050380,0.029023,0.046787,...,0.043547,0.035316,0.186396,0.135901,0.050534,0.073450,0.050983,0.014396,0.048855,0.036973
4,0.256720,0.280748,0.260746,0.406895,0.117506,0.187609,0.373322,0.282281,0.242514,0.433883,...,0.280651,0.254867,0.193497,0.366387,0.235581,0.194026,0.240371,0.125578,0.335349,0.266992
5,0.121615,0.132150,0.119872,0.239107,0.049018,0.105304,0.206487,0.119216,0.098845,0.154847,...,0.092147,0.137893,0.196856,0.360971,0.131576,0.080953,0.150732,0.078110,0.129593,0.087437

- 예측평점 = (사용자별 영화의 실제 평점).dot(영화의 코사인 유사도)
- 기존에 시청하지 않은 영화가 예측에서 평점이 부여되는 경우가 많음
- 예측 평점이 실제 평점보다 작을 수 있는데, 내적 결과를 코사인 유사도 벡터 합으로 나누었기 때문

# 예측 평가

In [73]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE를 구함
def get_mse(pred, actual):
    # 평점이 있는 실제 영화만 추출
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print("아이템 기반 모든 최근접 이웃 MSE: ", get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE:  10.083408996999383

- predict_rating(): 사용자별 영화의 예측 평점을 계산하기 위해 해당 영화와 다른 모든 영화 간의 유사도 벡터를 적용함
- 그러다보니 상대적으로 평점 예측이 떨어졌음.
- 특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터를 적용하는 함수로 변경

In [74]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자 - 아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)
    
    # 사용자 - 아이템 평점 행렬의 열 크기만큼 loop 수행
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:n:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
        
        return pred

In [76]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print("아이템 기반 최근접 top-20 이웃 MSE: ", get_mse(ratings_pred, ratings_matrix.values))

# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(ratings_pred, index= ratings_matrix.index, columns = ratings_matrix.columns)
ratings_pred_matrix.head()

아이템 기반 최근접 top-20 이웃 MSE:  13.778884782176377

C:\Users\gunso\anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  # This is added back by InteractiveShellApp.init_path()
C:\Users\gunso\anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  if sys.path[0] == '':

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...Più forte ragazzi!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,...,사마리아,야수,연가시,오직 그대만,올드보이,"장화, 홍련",최종병기 활,친절한 금자씨,해안선,활
userId,,,,,,,,,,,,,,,,,,,,,
1,0.009555,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.062804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.052388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.256720,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.121615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

???? 더커졌는데요 ???

In [77]:
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
隠し砦の三悪人                   5.0
Men in Black II           5.0
Terminator Salvation      5.0
Mosura tai Gojira         5.0
Once Were Warriors        5.0
Kingu Kongu tai Gojira    4.0
Kiss of the Dragon        4.0
Young and Innocent        4.0
Солярис                   4.0
Jacob's Ladder            4.0
Name: 9, dtype: float64

In [78]:
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화 정보를 추출해 Series로 반환함
    # 반환된 user_rating은 영화명을 인덱스로 가지는 Series 객체임 
    user_rating = ratings_matrix.loc[userId, :]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 인덱스를 추출해 list 객체로 만듦
    already_seen = user_rating[user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듦
    movies_list = ratings_matrix.columns.tolist()
    
    # already_seen에 해당하는 영화는 movies_list에서 제외함
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [79]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n = 10):
    # 예측 평점 DataFrame에서 userId 인덱스와 unseen_list로 들어온 영화명 칼럼을 추출해 가장 예측 평점이 높은 순서대로 정렬
    
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

In [80]:
unseen_list = get_unseen_movies(ratings_matrix, 9)
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)
recomm_movies = pd.DataFrame(recomm_movies.values, index=recomm_movies.index, columns = ['pred_score'])

In [81]:
recomm_movies

                                                    pred_score
title
!Women Art Revolution                                 0.042265
Sicko                                                 0.000000
Short Cuts                                            0.000000
Shortbus                                              0.000000
Shrek                                                 0.000000
Shrek 2                                               0.000000
Shrek the Third                                       0.000000
Shriek If You Know What I Did Last Friday the T...    0.000000
Shuang ma lian huan                                   0.000000
Si le vent soulève les sables                         0.000000